### Encontro 1 - 16 de junho de 2021

* Python como calculadora
    * Operadores aritméticos
        * Básicos: `+`, `-`, `*`, `/`
        * Avançados: `**`, `%`, `//`
* Atalhos do Jupyter
    * A, B, DD, Esc para modo de comando
* Diferença do `print` e `return`
* Tipos de dados
    * Numéricos: `int` e `float`
    * Texto: `str`
* Variáveis
* Funções embutidas
    * [Documentação do Python](https://docs.python.org/pt-br/3/library/functions.html)
    * `print()`
    * `type()`
* Bibliotecas
    * Diferentes formas de importar
        * `import math`
        * `import math as m`
        * `from math import cos, pi`
        
* Uso do `TAB`
    * Olhar dentro de bibliotecas/módulos: `math.` + TAB mostra os objetos do módulo `math`
    * Shift + TAB
    
* Buscando ajuda
    * Função embutida `help()`
    * `objeto?`
    * `objeto??` <- mais detalhada

### Ponto-chave
**O tipo de dado determina que operações posso fazer com um determinado valor. Temos três tipos básicos: `int`, `float` e `str`.**

### Próxima aula
* Pandas e DataFrames

In [ ]:
divisao = 21 / 5
print("O valor da divisão é", divisao)

In [ ]:
divisao = print(21 / 5)
print("O valor da divisão é", divisao)

In [ ]:
x = "10.5"
y = 10.5
z = 10

In [ ]:
print(type(x))
print(type(y))
print(type(z))

In [ ]:
type(2 + 2)

In [ ]:
int("10")

In [ ]:
2 + float("2")

In [ ]:
str(3829)

In [ ]:
valor_da_venda = 321
minha_string = "Valor da venda foi"
print(minha_string, valor_da_venda)

In [ ]:
# import math
# import math as m
from math import cos, pi
from functools import reduce

In [ ]:
pi??

In [ ]:
def soma(a, b):
    """
    Soma os elementos (a, b).
    """
    soma = a + b
    return soma

In [ ]:
help(soma)

In [ ]:
soma?

In [ ]:
soma??

### Encontro 2 - 23 de junho de 2021

* Introdução ao Pandas
    * Importância do NumPy
        * Permite operações numéricas (vetor x scalar, vetor x vetor, multiplicação de matrizes, etc)
        * Rápido (apoiado em libs baixo nível)
* DataFrames
* Indexando e selecionando objetos em um DataFrame
    * `df.loc[]` -> nome de linha e nome de columa
    * `df.iloc[]` -> posição numérica da linha e da coluna 

### Ponto-chave
- **Conceito de DataFrame: uma matriz (`numpy.ndarray`) com nomes de linhas e nomes de colunas.**
- **O objeto que retorna de uma consulta com `.loc` ou `.iloc` pode ser um scalar (célula única), um vetor (pd.Series) ou uma tabela (pd.DataFrame).**

In [ ]:
import numpy as np

In [ ]:
# Python antigo - sem NumPy: dificuldade para lidar com coleções de valores
numeros = [23, 544, 79, 21, 12, -390, 32]

In [ ]:
%time
numeros_x_2 = []
for n in numeros:
    numeros_x_2.append(n * 2)

In [ ]:
numeros = np.array(numeros)

In [ ]:
# Com NumPy: operações vetorizadas = mais rápido
%time
numeros * 2

In [ ]:
dois = np.array([2, 2])
tres = np.array([[3, 3], [3, 3]])

dois * tres

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

In [ ]:
df.values

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df

In [ ]:
df.loc['Brazil', 'continent']

In [ ]:
df.iloc[1, 0] == df.loc['Angola', 'continent']

In [ ]:
# Como usar loc para múltiplas linhas
countries = ['United States', 'Jamaica']
df.loc[countries, 'continent']

In [ ]:
df.loc['Brazil', anos_exp_vida]

In [ ]:
df.iloc[50:100, 5:10]

In [ ]:
df.loc['Brazil', 'continent']

In [ ]:
type(df.loc['Brazil', 'continent'])

In [ ]:
df.loc[['United States', 'Jamaica'], 'continent']

In [ ]:
type(df.loc[['United States', 'Jamaica'], 'continent'])

In [ ]:
df.loc[["United States", "Jamaica"], ['lifeExp_1957', 'lifeExp_1987', 'lifeExp_2007']]

In [ ]:
type(df.loc[["United States", "Jamaica"], ['lifeExp_1957', 'lifeExp_1987', 'lifeExp_2007']])

In [ ]:
df.loc[['Brazil'], ['continent']]

In [ ]:
lista = ['a', 'b', 'c', 'd']

In [ ]:
lista[0]

### Encontro 3 - 30 de junho de 2021

* Sincronizando a aula com Git
* Caminhos de arquivo UNIX
    * `/` -> raíz do sistema, equivalente ao `C://`
    * `/Users/<username>` -> minha pasta do usuário
* Pandas: continuação
    * Condicionais
        * Posso combinar condições usando os operadores `&` e `|`
    * `merge` e `concat`

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

In [ ]:
1 == 1

In [ ]:
cond_1 = df['continent'] == 'Europe'
cond_2 = df['pop_2007'] > 10e6
cond_3 = df['continent'] == 'Americas'
view_1 = df[cond_1 & cond_3]  # operador AND
view_2 = df[cond_1 | cond_2]  # operador OR

In [ ]:
europa = df[cond_1]
americas = df[cond_3]

In [ ]:
uniao_eu_americas = pd.concat([europa, americas])

In [ ]:
gdp_cols = [i for i in df.columns if 'gdp' in i]
pop_cols = [i for i in df.columns if 'pop' in i]

In [ ]:
tabela_gdp = df[gdp_cols]
tabela_pop = df[pop_cols]

In [ ]:
pd.concat([tabela_gdp, tabela_pop], axis=1)

In [ ]:
df = pd.read_csv("gapminder_all.csv")

In [ ]:
df1 = df[['country', 'pop_1987', 'pop_2007']]
df2 = df[['country', 'gdpPercap_1987', 'gdpPercap_2007']]

In [ ]:
df_mergeado = df1.merge(df2, on='country')

In [ ]:
df2.columns = 'pais', 'pib_1987', 'pib_2007'

In [ ]:
df_mergeado = df1.merge(df2, left_on='country', right_on='pais')

In [ ]:
del df_mergeado["pais"]

In [ ]:
df_mergeado

### Encontro 4 - 07 de julho de 2021

- Semana passada: merge e concat
- Retomada sintaxe básica
    - Listas
    - Strings
- Métodos de string no Pandas
    
### Ponto-chave
Ambas listas e strings são 'sequências', e portanto têm propriedades em comum.
    
### Semana que vem:
- Loops
- Condicionais
- Funções

In [ ]:
# Listas são coleções de valores de qualquer tipo
lista = ["a", 3.14, 100, ['outra_lista', 'outro_valor']]

In [ ]:
# Listas são ordenadas, logo consigo pegar um valor pela sua posição (index)
lista[0]

In [ ]:
# Também posso selecionar fatias
lista[1:3]  # fatia não-inclusiva

In [ ]:
# Sintaxe para fatiar listas
lista = [0, 'a', 1, 'b', 2, 'c']
inicio = 1
fim = 6
degrau = 2
print(lista[inicio:fim])
print(lista[:fim])
print(lista[inicio:])
print(lista[inicio:fim:degrau])

In [ ]:
# Uso len() para obter o tamanho da lista 
tamanho = len(lista)

# Posso pegar a partir do fim com números negativos
lista[-1]

In [ ]:
lista[::-1]  # Invertendo uma lista usando o degrau

In [ ]:
lista.append(3)

In [ ]:
ultimo_item = lista.pop()

In [ ]:
lista.insert()

In [ ]:
# Series também são coleções
import pandas as pd
df = pd.read_csv("gapminder_all.csv")

In [ ]:
# Strings também são coleções ordenadas de valores
# Porém de um único tipo - caracter
cidade = "São Paulo - SP"

In [ ]:
cidade[0]

In [ ]:
# Listas são mutáveis, mas strings não
lista[0] = 'zero'
lista

In [ ]:
cidade[0] = 's'

In [ ]:
cidade[-2:]

In [ ]:
type(cidade)

In [ ]:
cidade.upper()

In [ ]:
cidade.lower()

In [ ]:
cidade.split(" - ")

In [ ]:
minha_lista = ["primeiro", "segundo", "terceiro"]
minha_lista = "primeiro segundo terceiro".split()

In [ ]:
lista_cidades = ["Rio de Janeiro/RJ", "São Paulo/SP", "Florianópolis/SC"]
cidades = pd.DataFrame(lista_cidades)

In [ ]:
cidades.columns = "localidade",

In [ ]:
type(cidades["localidade"])

In [ ]:
novas_colunas = ["município", "UF"]
cidades[novas_colunas] = cidades["localidade"].str.split("/", expand=True)

In [ ]:
lista_numeros = [0, 1, 2]
lista_letras = ['a', 'b', 'c']
lista_numeros + lista_letras

In [ ]:
sp = "São Paulo"
rj = "Rio de Janeiro"
sp + rj

In [ ]:
lista_numeros * 3

In [ ]:
sp * 3

In [ ]:
lista_numeros * 3.0

In [ ]:
sp * 3.0

### Encontro 5 - 13 de julho de 2021

- Atualizando a aula pelo Terminal
    - `cd Desktop/xlab-python`
    - `git stash`
    - `git pull`
- Loops
    - Loops são uma maneira de iterar uma determinada sequência (exemplo: `list` ou `str`)
- Lembrete sobre tipos de dados
    - Os tipos básicos (`int`, `float`, `str`, `list`, `bool`) também servem como funções para converter um tipo de dado em outro.
- Condicionais
    - Sempre avaliam para um `bool` (`True` ou `False`)
    - Podem ser combinadas com `or` ou `and`
    - A ordem importa!
    
    
### Semana que vem
- Aplicar loops em arquivos
- `while` loops
- Abrir e ler arquivos com Python nativo (sem Pandas)
- Funções

In [ ]:
numeros = [2, 3, 5]

In [ ]:
for numero in numeros:
    # corpo do loop
    print("Meu número é", numero)
    quadrado = numero ** 2
    cubo = numero ** 3
    print("O quadrado de", numero, "é", quadrado, "e o cubo é", cubo)

In [ ]:
for numero in range(0, 11, 2):
    print(numero)

In [ ]:
lista_de_numeros = range(1, 31)

In [ ]:
type(lista_de_numeros)

In [ ]:
lista_de_numeros = list(range(1, 31))

In [ ]:
lista_de_numeros

In [ ]:
type("1")

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type([1])

In [ ]:
str(10)

In [ ]:
float(10)

In [ ]:
int('10')

In [ ]:
list('palavra')

In [ ]:
total = 0
for numero in range(1, 11):
    total = total + numero
    print("Total agora é", total)
    
print("Resultado final:", total)

In [ ]:
for letra in "Brasil":
    print(letra)

In [ ]:
massa = 100

if massa > 50:
    print("Objeto pesado.")
elif massa == 50:
    print("Peso ideal.")
else:
    print("Objeto leve.")

In [ ]:
pesos_objetos = [23, 50, 37, 45, 102, 1, 100]

for peso in pesos_objetos:
    print("Peso é", peso, "kg.")
    if peso > 50:
        print("Objeto pesado.")
    elif peso == 50:
        print("Peso ideal.")
    else:
        print("Objeto leve.")

In [ ]:
lista = [3.14, 42, "uma string", ['outra_lista'], ("tupla", )]

In [ ]:
for item in lista:
    if type(item) == int or type(item) == float:
        print(item, "é um número.")
    elif type(item) == str:
        print(item, "é um texto.")
    else:
        print(item, "é de outro tipo:", type(item))

In [ ]:
nota = 100

if nota >= 90 and nota == 100:
    print("Nota máxima.")
elif nota >= 80:
    print("Nota B")
elif nota >= 70:
    print("Nota C")
else:
    print("Nota insuficiente:", nota)

In [ ]:
nota >= 90 and nota == 100

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
False and False

In [ ]:
type(type(item) == int)

In [ ]:
numero = 0
while numero < 10:
    print("Número é", numero)
    numero = numero + 1