### Encontro 1 - 11 de junho de 2021
* Controles básicos do Jupyter
    * Modo de comando: `ESC`
    * Criar célula: `A` ou `B`
    * Deleter célula: `DD`
* Exemplo: aplicação TM1
    * [Biblioteca TM1py](https://code.cubewise.com/tm1py-overview)
* Operadores aritméticos
    * `+`
    * `*`
    * `-`
    * `/`
    * `%`  # módulo, ou resto de divisão
    * `//`  # 'floor' division, maior número inteiro
    * `**`
* Tipos de dados
    * **Tipos de dados determinam as operações**
    * Numéricos: `float` e `int`
    * Texto: `str`
    * Posso verificar o tipo de dado com a função `type()`
    * Os tipos básicos são tanto tipos, quanto funções embutidas para converter de um tipo em outro (ver abaixo)
* Funções embutidas - [Docs do Python](https://docs.python.org/pt-br/3/library/functions.html)
    * `print()`
    * `type()`
    * `int()`
    * `str()`
    * `float()`
* Variáveis

In [ ]:
2 + 2

In [ ]:
2 * 4

In [ ]:
2 - 2

In [ ]:
resultado = 10 / 4

In [ ]:
print(resultado)

In [ ]:
type(2.5)

In [ ]:
type(3)

In [ ]:
type("Vini")

In [ ]:
nome = "Vini"
print(nome)

In [ ]:
print("Primeira linha")
print("Segunda linha")
print(10 / 4)
print("Quarta linha")

In [ ]:
resultado = 10 / 4
print("Resultado é", resultado)

In [ ]:
resultado = print(10 / 4)
print("Resultado é", resultado)

In [ ]:
print(10 / 4)

In [ ]:
2 + 2

In [ ]:
"2" + "2"

In [ ]:
12.0 / 4.0

In [ ]:
print("DDD do Rio é", 21)

In [ ]:
"DDD do Rio é " + str(21)

In [ ]:
type("Vini")

In [ ]:
int(2.5)

In [ ]:
float("2")

In [ ]:
str(10e-3)

In [ ]:
"abc " * 3

### Encontro 2 - 18 de junho de 2021

* Revisão da última aula
* Funções embutidas
    * `help()`
        * Outras formas de chamar o help: com `?` ou `??`
        * Para funções: Shift + TAB
* Bibliotecas
    * `math.` + TAB para olhar os objetos de uma biblioteca
    * Diferentes formas de importar os objetos de uma biblioteca
        * `import math`
        * `from math import cos, pi`
        * `import math as m`
* Importar dados com o Pandas
    * Função `pd.read_csv()`


### Pontos-chave

Como usar bibliotecas. Como ver a ajuda para a função/biblioteca. O que são DataFrames: **matrizes com nome nas linhas e nas colunas.**

### Semana que vem
* Explicação do `numpy` e `ndarray`
* Filtrando e selecionando dados

In [ ]:
# import math
# from math import cos, pi
# import math as m
import pandas as pd

In [ ]:
df = pd.read_csv('gapminder_all.csv', index_col='country')

In [ ]:
# type(df.index)
# type(df.index)
type(df.values)

In [ ]:
print(df.columns)
print(df.index)
print(df.values)

### Encontro 3 - 25 de junho de 2021

#### Exemplos de IDEs:
* VSCode
* PyCharm
* RStudio
* Atom
* Sublime
* Spyder

### Conteúdo

* Continuação Pandas
* Indexando e selecionando dados
    * Diferentes consultas retornam diferentes objetos
        * Célula única (`int`/`str`/`float`)
        * Vetor unidimensional (`pd.Series`)
        * Tabela bidimensional (`pd.DataFrame`)
    * Dois métodos
        * `.loc` -> nome de linha ou coluna
        * `.iloc` -> número da linha e da coluna
        * Passar múltiplas linhas/colunas 
* Condicionais
    * Posso combinar condições com `&` e `|`
    
    
### Pontos-chave
* Consigo selecionar e filtrar dados no Pandas baseado no nome ou posição da linha/coluna
* Consultas podem retornar objetos diferentes

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

In [ ]:
# Primeiro método - .loc
df.loc['Brazil', 'continent']

In [ ]:
linhas = ['United States', 'Jamaica']
df.loc[linhas, 'continent']

In [ ]:
colunas = ['lifeExp_1957', 'lifeExp_1987', 'lifeExp_2007']
df.loc['Brazil', colunas]

In [ ]:
df.loc[linhas, colunas]

In [ ]:
# único ponto
ponto = df.loc['Brazil', 'continent']

# unidimensionais
coluna = df.loc[linhas, 'continent']
linha = df.loc['Brazil', colunas]

# bidimensional
tabela = df.loc[linhas, colunas]

In [ ]:
type(ponto)

In [ ]:
type(coluna)

In [ ]:
type(linha)

In [ ]:
type(tabela)

In [ ]:
df.iloc[10:21, 0]

In [ ]:
df[df['continent'] == 'Africa']

In [ ]:
# Posso combinar múltiplas condições com '&'
df[(df['continent'] == 'Africa') & (df['gdpPercap_1952'] > 1000)]

In [ ]:
# ou posso combinar com ou '|'
df[(df['continent'] == 'Africa') | (df['continent'] == 'Americas')]

In [ ]:
1 > 0

In [ ]:
1 < 0

In [ ]:
1 != 0

In [ ]:
1 == 0

### Encontro 4 - 09 de julho de 2021

- Métodos do `pd.DataFrame()`
    - `.head()` -> primeiras linhas do DataFrame
    - `.tail()`
- Importar planilha `Match.xlsx`

In [ ]:
import pandas as pd

In [ ]:
vari = pd.read_excel("Match.xlsx", sheet_name="vari")

In [ ]:
vari.head()

In [ ]:
vari.tail()

In [ ]:
vari.columns

In [ ]:
vari.info()

In [ ]:
vari.iloc[:, 20]

In [ ]:
vari.loc[:, "Base Comm USD"]

In [ ]:
vari.describe()

In [ ]:
# criando novas colunas usando fórmulas
vari["Acceleration"] = (vari["Base Attnmt Perc"] - 100) / 100 * vari["Plan TI USD"]
vari["Acceleration"]

In [ ]:
def subtract_if_larger_than_hundred(number):
    """
    Subtracts 100 if number > 100.
    Else, returns 0.
    """
    if number > 100:
        return number - 100
    else:
        return 0

In [ ]:
subtract_if_larger_than_hundred(92)

In [ ]:
formatted_base_attnmt = vari["Base Attnmt Perc"].apply(subtract_if_larger_than_hundred)

In [ ]:
formatted_base_attnmt

In [ ]:
vari["Acceleration"] = formatted_base_attnmt / 100 * vari["Plan TI USD"]

In [ ]:
vari["Acceleration"]

In [ ]:
vari.to_excel("Match-acceleration.xlsx", sheet_name="vari", index=False)

In [ ]:
vari.sample(100).to_excel("Match-100.xlsx")

In [ ]:
print("O total da acceleration foi",vari["Acceleration"].sum() / 1e6)

### Encontro 5 - 23 de julho de 2021

* Recapitular fatias
    * `loc` e `iloc`
* Continuação Pandas
    * Equivalente a SUMIF
    * Groupby
    * Merge e concatenate

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("Match-100.xlsx")

In [ ]:
# Exercício - como seleciono todas as colunas exceto a primeira?
df = df.iloc[:, 1:]
# df.to_excel("Match-100.xlsx", index=False)

In [ ]:
df = pd.read_excel("Match-100.xlsx")

In [ ]:
df2 = df[[2, 8]]
df1 = df.iloc[:, 9:] 
df1 = pd.concat([df[2], df1], axis=1)
df2.columns = "Plano", 8

In [ ]:
df2.head()

In [ ]:
df_merge = df1.merge(df2, left_on=2, right_on="Plano")

#### Supôr uma planilha com 2 abas

```python
aba1 = pd.read_excel("planilha.xlsx", sheet_name="aba1")
aba2 = pd.read_excel("planilha.xlsx", sheet_name="aba2")

merge = aba1.merge(aba2, on="coluna_para_lookup")
merge.to_excel("planilha.xlsx", sheet_name="merge_aba1e2")
```