### Encontro 1 - 11 de junho de 2021
* Controles básicos do Jupyter
    * Modo de comando: `ESC`
    * Criar célula: `A` ou `B`
    * Deleter célula: `DD`
* Exemplo: aplicação TM1
    * [Biblioteca TM1py](https://code.cubewise.com/tm1py-overview)
* Operadores aritméticos
    * `+`
    * `*`
    * `-`
    * `/`
    * `%`  # módulo, ou resto de divisão
    * `//`  # 'floor' division, maior número inteiro
    * `**`
* Tipos de dados
    * **Tipos de dados determinam as operações**
    * Numéricos: `float` e `int`
    * Texto: `str`
    * Posso verificar o tipo de dado com a função `type()`
    * Os tipos básicos são tanto tipos, quanto funções embutidas para converter de um tipo em outro (ver abaixo)
* Funções embutidas - [Docs do Python](https://docs.python.org/pt-br/3/library/functions.html)
    * `print()`
    * `type()`
    * `int()`
    * `str()`
    * `float()`
* Variáveis

In [ ]:
2 + 2

In [ ]:
2 * 4

In [ ]:
2 - 2

In [ ]:
resultado = 10 / 4

In [ ]:
print(resultado)

In [ ]:
type(2.5)

In [ ]:
type(3)

In [ ]:
type("Vini")

In [ ]:
nome = "Vini"
print(nome)

In [ ]:
print("Primeira linha")
print("Segunda linha")
print(10 / 4)
print("Quarta linha")

In [ ]:
resultado = 10 / 4
print("Resultado é", resultado)

In [ ]:
resultado = print(10 / 4)
print("Resultado é", resultado)

In [ ]:
print(10 / 4)

In [ ]:
2 + 2

In [ ]:
"2" + "2"

In [ ]:
12.0 / 4.0

In [ ]:
print("DDD do Rio é", 21)

In [ ]:
"DDD do Rio é " + str(21)

In [ ]:
type("Vini")

In [ ]:
int(2.5)

In [ ]:
float("2")

In [ ]:
str(10e-3)

In [ ]:
"abc " * 3

### Encontro 2 - 18 de junho de 2021

* Revisão da última aula
* Funções embutidas
    * `help()`
        * Outras formas de chamar o help: com `?` ou `??`
        * Para funções: Shift + TAB
* Bibliotecas
    * `math.` + TAB para olhar os objetos de uma biblioteca
    * Diferentes formas de importar os objetos de uma biblioteca
        * `import math`
        * `from math import cos, pi`
        * `import math as m`
* Importar dados com o Pandas
    * Função `pd.read_csv()`


### Pontos-chave

Como usar bibliotecas. Como ver a ajuda para a função/biblioteca. O que são DataFrames: **matrizes com nome nas linhas e nas colunas.**

### Semana que vem
* Explicação do `numpy` e `ndarray`
* Filtrando e selecionando dados

In [ ]:
# import math
# from math import cos, pi
# import math as m
import pandas as pd

In [ ]:
df = pd.read_csv('gapminder_all.csv', index_col='country')

In [ ]:
# type(df.index)
# type(df.index)
type(df.values)

In [ ]:
print(df.columns)
print(df.index)
print(df.values)

### Encontro 3 - 25 de junho de 2021

#### Exemplos de IDEs:
* VSCode
* PyCharm
* RStudio
* Atom
* Sublime
* Spyder

### Conteúdo

* Continuação Pandas
* Indexando e selecionando dados
    * Diferentes consultas retornam diferentes objetos
        * Célula única (`int`/`str`/`float`)
        * Vetor unidimensional (`pd.Series`)
        * Tabela bidimensional (`pd.DataFrame`)
    * Dois métodos
        * `.loc` -> nome de linha ou coluna
        * `.iloc` -> número da linha e da coluna
        * Passar múltiplas linhas/colunas 
* Condicionais
    * Posso combinar condições com `&` e `|`
    
    
### Pontos-chave
* Consigo selecionar e filtrar dados no Pandas baseado no nome ou posição da linha/coluna
* Consultas podem retornar objetos diferentes

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

In [ ]:
# Primeiro método - .loc
df.loc['Brazil', 'continent']

In [ ]:
linhas = ['United States', 'Jamaica']
df.loc[linhas, 'continent']

In [ ]:
colunas = ['lifeExp_1957', 'lifeExp_1987', 'lifeExp_2007']
df.loc['Brazil', colunas]

In [ ]:
df.loc[linhas, colunas]

In [ ]:
# único ponto
ponto = df.loc['Brazil', 'continent']

# unidimensionais
coluna = df.loc[linhas, 'continent']
linha = df.loc['Brazil', colunas]

# bidimensional
tabela = df.loc[linhas, colunas]

In [ ]:
type(ponto)

In [ ]:
type(coluna)

In [ ]:
type(linha)

In [ ]:
type(tabela)

In [ ]:
df.iloc[10:21, 0]

In [ ]:
df[df['continent'] == 'Africa']

In [ ]:
# Posso combinar múltiplas condições com '&'
df[(df['continent'] == 'Africa') & (df['gdpPercap_1952'] > 1000)]

In [ ]:
# ou posso combinar com ou '|'
df[(df['continent'] == 'Africa') | (df['continent'] == 'Americas')]

In [ ]:
1 > 0

In [ ]:
1 < 0

In [ ]:
1 != 0

In [ ]:
1 == 0

### Encontro 4 - 09 de julho de 2021

- Métodos do `pd.DataFrame()`
    - `.head()` -> primeiras linhas do DataFrame
    - `.tail()`
- Importar planilha `Match.xlsx`

In [ ]:
import pandas as pd

In [ ]:
vari = pd.read_excel("Match.xlsx", sheet_name="vari")

In [ ]:
vari.head()

In [ ]:
vari.tail()

In [ ]:
vari.columns

In [ ]:
vari.info()

In [ ]:
vari.iloc[:, 20]

In [ ]:
vari.loc[:, "Base Comm USD"]

In [ ]:
vari.describe()

In [ ]:
# criando novas colunas usando fórmulas
vari["Acceleration"] = (vari["Base Attnmt Perc"] - 100) / 100 * vari["Plan TI USD"]
vari["Acceleration"]

In [ ]:
def subtract_if_larger_than_hundred(number):
    """
    Subtracts 100 if number > 100.
    Else, returns 0.
    """
    if number > 100:
        return number - 100
    else:
        return 0

In [ ]:
subtract_if_larger_than_hundred(92)

In [ ]:
formatted_base_attnmt = vari["Base Attnmt Perc"].apply(subtract_if_larger_than_hundred)

In [ ]:
formatted_base_attnmt

In [ ]:
vari["Acceleration"] = formatted_base_attnmt / 100 * vari["Plan TI USD"]

In [ ]:
vari["Acceleration"]

In [ ]:
vari.to_excel("Match-acceleration.xlsx", sheet_name="vari", index=False)

In [ ]:
vari.sample(100).to_excel("Match-100.xlsx")

In [ ]:
print("O total da acceleration foi",vari["Acceleration"].sum() / 1e6)

### Encontro 5 - 23 de julho de 2021

* Recapitular fatias
    * `loc` e `iloc`
* Continuação Pandas
    * Equivalente a SUMIF
    * Groupby
    * Merge e concatenate

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("Match-100.xlsx")

In [ ]:
# Exercício - como seleciono todas as colunas exceto a primeira?
df = df.iloc[:, 1:]
# df.to_excel("Match-100.xlsx", index=False)

In [ ]:
df = pd.read_excel("Match-100.xlsx")

In [ ]:
df2 = df[[2, 8]]
df1 = df.iloc[:, 9:] 
df1 = pd.concat([df[2], df1], axis=1)
df2.columns = "Plano", 8

In [ ]:
df2.head()

In [ ]:
df_merge = df1.merge(df2, left_on=2, right_on="Plano")

#### Supôr uma planilha com 2 abas

```python
aba1 = pd.read_excel("planilha.xlsx", sheet_name="aba1")
aba2 = pd.read_excel("planilha.xlsx", sheet_name="aba2")

merge = aba1.merge(aba2, on="coluna_para_lookup")
merge.to_excel("planilha.xlsx", sheet_name="merge_aba1e2")
```

### Encontro 6 - 06 de agosto de 2021

- Conversa sobre projetos
    - Automatização de processos
    - Pegar dados do TM1 e da API da TAAP
        - TM1: conecta na web -> selecionar cubos -> criar view
            - Conectar na view e baixar Excel com múltiplas tabs
    - Notas:
        - TM1: um arquivo com múltiplas tabs
        - TAAP: uma tab só
        - Conectar tudo em uma planilha
        - Rodar fórmulas
        - Exportar arquivos para o cubo MDX (via TM1) (formatado para inputar)
        - Commit feito pelo Excel direto p/ web
        
- De volta para sintaxe básica
    - Listas
    - Dicionários

In [ ]:
import pandas as pd

df = pd.read_excel("Match.xlsx")

In [ ]:
# Lista: coleção de valores de qualquer tipo
lista = ['a', 10, 3.14]

# Posso selecionar valores pela posição
lista[0]
lista[-1]

# Posso inserir valores - são MUTÁVEIS
lista.append('d')
lista.insert(2, 'b')

# Tamanho da lista
len(lista)

In [ ]:
lista.append(['item_0', 'item_1'])

In [ ]:
# Strings também são coleções - de caracteres
string = "Amendoim"
string = string + " japonês"  # porém são IMUTÁVEIS - preciso sobreescrever

In [ ]:
# Outro tipo de coleção: o dicionário
capitais = {
    "RJ": "Rio de Janeiro",
    "SC": "Florianópolis",
    "SP": "São Paulo",
}

In [ ]:
# Invés de uma variável por tab
head = pd.read_excel("Match.xlsx", sheet_name="head")
vari = pd.read_excel("Match.xlsx", sheet_name="vari")

In [ ]:
# Tenho um dicionário mapeando o nome das tabs para os DataFrames
match = {}
tabs_list = ["head", "vari"]

for tab_name in tabs_list:
    match[tab_name] = pd.read_excel("Match.xlsx", sheet_name=tab_name)

In [ ]:
match

### Encontro 7 - 13 de agosto de 2021

- Aprofundar sequências
    - Fatias
        - Sintaxe de fatias:
        
            ```python
            lista[inicio:fim]
            lista[inicio:fim:degrau]
            ```
            
        - **Importante:** o `fim` não é incluído
    - Multiplicação e adição
- Funções
    - Definição com **`def`**
    - Nome da função
    - Entrada (argumentos)
    - Corpo da função
    - Saída com **`return`**

- Anatomia de um script Python
    * Importar bibliotecas
    * Definir arquivos de entrada
    * Definir funções de processamento
    * Adicionar mensagens informativas

In [ ]:
# Fatias
lista = ["RS", "PR", "SC", "SP", "RJ", "ES", "MG", "MT", "MS", "GO"]

sul = lista[:3]
sudeste = lista[3:7]
centro_oeste = lista[7:]

print("Sul:", sul)
print("Sudeste:", sudeste)
print("Centro-oeste:", centro_oeste)

In [ ]:
numeros = list(range(1, 11))
print(numeros)

In [ ]:
impares = numeros[::2]
pares = numeros[1::2]
print(impares)
print(pares)

In [ ]:
print(numeros)

In [ ]:
numeros[::-1]

In [ ]:
for estado in lista:
    # corpo do loop
    print(estado)

In [ ]:
texto = "Rio de Janeiro"

for item in texto:
    print(item)

In [ ]:
import pandas as pd

In [ ]:
planilhas = ["Match-100.xlsx", "Match-acceleration.xlsx", "Match-bkp.xlsx"]

def processar_planilha(nome_do_arquivo):
    df = pd.read_excel(nome_do_arquivo)
    print(df.shape)


for arquivo in planilhas:
    print("Processando", arquivo)
    processar_planilha(arquivo)
    print("OK.")

In [ ]:
processar_planilha("Match-100.xlsx")

In [ ]:
def examinar_palavra(palavra):
    primeira_letra = palavra[0]
    numero_de_letras = len(palavra)
    
    print("A palavra começa com", primeira_letra)
    print("A palavra tem", numero_de_letras, "letras")

In [ ]:
examinar_palavra('IBM')

In [ ]:
# Sintaxe de funções
def nome_da_funcao(entrada1, entrada2, entrada3):
    
    # Corpo da função
    print(entrada1)
    print(entrada2)
    print(entrada3)
    
    saida = entrada1 + entrada2 + entrada3
    
    # Saída
    return saida

In [ ]:
resultado = nome_da_funcao(1, 2, 3)

In [ ]:
resultado

In [ ]:
!python meu_script.py

In [ ]:
# glob: útil para criar listas de arquivos
from glob import glob
glob("*.xlsx")

### Encontro 8 - 03 de Setembro de 2021

* Recapitular tópicos anteriores
    * Sintaxe básica
    * Listas
    * Funções
* Exercícios
* Progresso com projeto das planilhas
    * Já obteve os arquivos (database)
    * Juntar tabs (informações) para chegar num formato final
    
#### Exercício para semana que vem
* Importar databases com Pandas

1. Converta 42 minutos e 42 segundos em somente segundos.

In [ ]:
minutos = 42
segundos = 42
total_segundos = 60 * minutos + segundos

2. Converta 10 milhas em kms.

1.61 km = 1 milha.

3. Corremos uma corrida de 10km em 42 minutos e 42 segundos. Qual é o nosso tempo médio por milha? E a nossa velocidade em milhas por hora?

In [ ]:
minutos = 42
segundos = 42
horas = (minutos * 60 + segundos) / 3600
km = 10
milhas = km / 1.61

tempo_medio_por_milha = horas / milhas
velocidade = milhas / horas

In [ ]:
tempo_medio_por_milha

4. Crie uma lista de strings e imprima a seguinte frase para cada item:

"A palavra XXXX começa com a letra X", onde XXXX é a string e X é a primeira letra da string.

### Encontro 9 - 10 de Setembro de 2021

- Importando conjuntos de dados no Pandas
- Relacionando informações entre abas
- Acessando métodos de string de uma coluna com `.str`
- Fazendo lookup com função personalizada e `.loc`

### Semana que vem
- **Dúvida**: como escrever na mesma planilha?

### Encontro 10 - 24 de setembro de 2021

- Retomada problema integração de dados
    1. Obter todas as fontes de dados
    2. Integrar fontes de dados em uma mesma tab (`main`)
    3. Incluir cálculos - somas, etc. na tab `main`

In [ ]:
import pandas as pd
from openpyxl import load_workbook

In [ ]:
ti = pd.read_excel("TAAP Python.xlsm", skiprows=1, sheet_name="TI")
plan = pd.read_excel("TAAP Python.xlsm", skiprows=1, sheet_name="Plan map", index_col=1)
entities = pd.read_excel("TAAP Python.xlsm", skiprows=2, sheet_name="Entities")

In [ ]:
def get_plan_length(code):
    """
    Give a 9-digit code from TI tab (e.g. REW45-PRI)
    and look up plan length in Plan map tap using
    first 5 characters of the code.
    """
    return plan.loc[code[:5], "Length"]

In [ ]:
ti["Length"] = ti["Unnamed: 8"].apply(get_plan_length)

In [ ]:
# Escrevendo na mesma planilha Excel usando pd.ExcelWrite
file = "TAAP Python.xlsm"
backup = "TAAP Python-Copy1.xlsm"
book = load_workbook(backup)
writer = pd.ExcelWriter(file, engine="openpyxl")
writer.book = book
ti.to_excel(writer, sheet_name="TI", )
writer.save()
writer.close()

In [ ]:
# Adicionar a coluna BRAND da tab 'Entities' para a tab TI através do código Entity

# 1. Criar código para merge
entities["entity"] = entities["Entity Id"].str.split("-", expand=True).iloc[:, 0]


# Mais fácil quando tenho colunas com o mesmo nome
ti["entity"] = ti["Unnamed: 6"].rename("entity")

# 2. Rodar o merge
# ti.merge(entities, on="entity")